@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 100%;
    line-height: 1.4;
    color: #011627;
    background-color: #fdfffc;
}

/* Style de tous les titres */
h1, h2, h3, h4, h5, h6, .logo {
    font-family: 'Changa One', cursive;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: .75em;
}

p {
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: #e71d36;
    text-decoration: none;
}

/***************************************
 ENTÊTE
 ****************************************/
header {
    background-color: #011627;
    padding: 1rem;
}

header .logo {
    text-align: center;
}

header .logo-titre {
    color: #2ec4b6;
    font-size: 1.75rem;
    margin-bottom: .5rem;
}

header .logo-metier {
    margin-bottom: 20px;
}

header nav {
    text-align: center;
}

header nav ul {
    padding: 0;
    list-style-type: none; /* Enlève les puces de la liste */
}

header nav ul li {
    display: inline; /* Affiche les élément en ligne */
}

header nav ul li a {
    color: #fdfffc;
    padding: 15px 10px; /* 15px haut/bas 10px gauche/droite */
    font-weight: bold;
}

header nav ul li a:hover,
header nav ul li a.actif {
    color: #2ec4b6;
}

header nav [href="index.html"] {
    display: none;
}

/***************************************
 CONTENU PRINCIPAL
 ****************************************/
main {
    padding: 20px;
}

/***************************************
 PIED DE PAGE
 ****************************************/
footer {
    text-align: center;
}

footer nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer nav ul li {
    display: inline;
}

footer nav ul li img {
    width: 50px;
    margin: 0 15px; /* 0 haut/bas, 15px gauche droite */
    filter: grayscale(100%);
    transition: all 500ms linear;
}

footer nav ul li img:hover {
    filter: grayscale(0);
}

/***************************************
 PAGE INFORMATIONS
 ****************************************/

.page-infos .photo-michel {
    border-radius: 50%;
    max-width: 150px;
    display: block;
    margin-left: auto; /* centrer horizontalement */
    margin-right: auto; /* centrer horizontalement */
}

.page-infos h1 {
    text-align: center;
}





